<select class="form-select" id="selectEmployeeName" autocomplete="off" aria-label="Select an employee">
  <option></option>
  <% employees.forEach(function(employee) { %>
      <option value="<%= employee.id %>"><%= employee.lastName %>, <%= employee.firstName %></option>
  <% }); %>
</select>
<div class="form-text">version: <%= version %></div>

<script>
  // Using Vanilla JS to handle the change event
  document.addEventListener('DOMContentLoaded',() => {
    console.log('DOMContentLoaded');

    document.getElementById('selectEmployeeName')
      .addEventListener("change", function(){
        console.log('selectEmployeeName.change()');

        const selectedOption = selectEmployeeName.options[selectEmployeeName.selectedIndex]
        console.log('value', selectedOption.value);
        console.log('text', selectedOption.text);

        // send value to JotForm
        JFCustomWidget.sendData({
          valid: true,
          value: selectedOption.value
        });

    },true); 

    //always subscribe to ready event and implement widget related code
    //inside callback function , it is the best practice while developing widgets
    JFCustomWidget.subscribe("ready", function(){
      console.log('JFCustomWidget.ready');

      const subdomain = JFCustomWidget.getWidgetSetting('x-bamboohr-subdomain');
      console.log('x-bamboohr-subdomain',subdomain)

      const apiKey = JFCustomWidget.getWidgetSetting('x-bamboohr-api-key');
      console.log('x-bamboohr-api-key',apiKey)
      
    });

  });

  /*
  $(function () {

    // jQuery syntax
    $('#selectEmployeeName').on('change', function(e) {
      console.log('selectEmployeeName.change');

      const selectedOption = selectEmployeeName.options[selectEmployeeName.selectedIndex]
      console.log('value', selectedOption.value);
      console.log('text', selectedOption.text);

      // const value = `${selectedOption.value}:${selectedOption.text}`
      // const value = selectedOption.text
      // const value = JSON.stringify({
      //       value: selectedOption.value,
      //       text: selectedOption.text
      //     })

      // send value to JotForm
      JFCustomWidget.sendData({
        valid: true,
        value: `${selectedOption.value}:${selectedOption.text}`
      });

    });

    //always subscribe to ready event and implement widget related code
    //inside callback function , it is the best practice while developing widgets
    JFCustomWidget.subscribe("ready", function(){
      console.log('JFCustomWidget.ready');
    });

  });
  */
</script>